.contenedor {
    display: grid;
    gap: 25px;
    padding: 25px;
    border-radius: 15px;
    background-color:#ccc;
}

.producto {
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}

.producto img {
    max-width: 100%;
    height: 250px;
    border-radius: 15px;

    
}

.producto h3 {
    margin: 15px 0 10px;
    font-size: 25px;
}

.producto p {
    font-size: 16px;
    color: #1b1919;
    
}

@media (min-width: 768px) {
    .contenedor {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (max-width: 767px) {
    .contenedor {
        grid-template-columns: 1fr;
        overflow-y: auto;
    }
}
